/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #google-map {
    height: 500px;
    /* width: 25%; */
    
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 20px;
    margin: 0;
    padding: 0;
    line-height: 20px;
  }

  .yelpImage {
    height: 145px;
    width: 335px;
  }

